@import "./variables";

a{
    text-decoration: none !important;

    &:focus, &:hover, &:visited, &:link, &:active {
        text-decoration: none !important;
    }
}

.user-page{
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: $red;

    .user-page-container{
        display:flex;
        flex-direction: row;
        width: 100%;
        

        .side-navbar{
            display:flex;
            position: relative;
            flex-direction: column;
            align-items: center;
            min-width: 250px;
            height: 100vh;
            background-color:$red;
            overflow: hidden;

            .avatar{
                height: 130px;
                margin:20px auto 20px auto;
            }

            .edit{
                height: 20px;
                //margin-bottom: 20px;
                transition: 0.5s;
                margin:-160px 0 0 95px;
                position: absolute;
                filter: brightness(0) invert(1);

                &:hover{
                    filter: invert(13%) sepia(9%) saturate(3416%) hue-rotate(186deg) brightness(98%) contrast(92%) !important;
                    transition: 0.5s;
                }
            }

            .user-name-container{
                display:flex;
                width: 100%;
                height: 62px;
                padding-bottom: 10px;
                flex-direction: column;
                align-items: center;
                background:linear-gradient(rgba(0,0,0,0),rgba(255,255,255,0.1));
    
                .user-name{
                    font-size: 22px;
                }
    
                p,b{
                    margin:3px;
                    color:rgb(19, 26, 44);
                }
            }

            .user-navbar{
                display:flex;
                width: 100%;
                flex-direction: column;
                align-items: center;
                margin:auto 0 auto 0;
                padding-bottom: 120px;

                .navicon{
                    height:20px;
                    filter:invert(1);
                    margin:0 20px 0 20px;
                }

                .menubutton{
                    display:flex;
                    flex-direction: row;
                    width: 100%;
                    height: 50px;
                    margin-bottom: 2px;
                    border: hidden;
                    justify-content: left;
                    align-items: center;
                    background-color: rgba(255,255,255,0.1);
                    color: $white;
                    font-size: 17px;
                    transition: 0.5s;

                    &:hover{
                        background-color: rgba(0,0,0,0.1);
                        transition: 0.5s;
                    }

                    &:focus{
                        outline: none;
                    }
                }

                li{
                    width: 100%;
                    list-style: none;
                    align-items: center;
                }

                ul{
                    list-style: none;
                    padding:0;
                    width: 100%;
                    align-items: center;
                }

                .logout-button{
                    position: absolute;
                    bottom: 0;
                    font-size: 17px !important;
                    display:flex;
                    align-items: center !important;
                    justify-content: center;
                    background-color: $black;
                    color:$white !important;
                    text-decoration: none !important;
                    font-size: 20px;
                    left:0;
                    right: 0;
                    margin:0 auto 10px auto;
                    border: none;
                    width: 150px;
                    height: 45px;
                    border-radius: 30px;
                    transition: 0.5s;
                    &:focus{
                        outline:none !important;
                    }

                    &:hover{
                        background-color: $lightblack;
                        transition: 0.5s;
                        text-decoration: none !important;
                        border:0 !important;
                }
                }
            }
        }

        .top-navbar{
            display:none;
        }

        .main-container{
            display:flex;
            //flex:1;
            position: relative;
            border-bottom-left-radius: 30px;
            border-top-left-radius: 30px;
            width: 100%;
            height: 100vh;
            box-sizing: border-box;
            background-color: $white;
            background-image: url("../assets/usergrad.jpg");
            background-position: center;
            background-size: cover;
            align-items: center;
            justify-content: center;
            overflow-y: auto;
            //box-shadow: -3px 0px 0px 0px rgb(170, 81, 80);
        }
    }
}

.clicked{
    background-color: $white !important;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    color:$black !important;
    outline: none;

    .navicon{
        filter: invert(13%) sepia(9%) saturate(3416%) hue-rotate(186deg) brightness(98%) contrast(92%) !important;
    }
}

@media (max-width:768px){
    .user-page{
        overflow: auto;
    }

    .user-page-container{
        flex-direction: column !important;
        height: 100%;
    
        .side-navbar{
            display:none !important;
        }

        .top-navbar{
            display:flex !important;
            position: inherit;
            z-index: 20;
            flex-direction: row;
            align-items: center;
            background:linear-gradient(to right,$red,rgb(185, 88, 87));
            width: 100%;
            height: 50px;

            .user-name-container{
                //background: linear-gradient(to right,rgba(0,0,0,0.1),rgba(0,0,0,0)) !important;
                align-items: center;
                justify-content: space-around;
                height: 100%;
                .user-name{
                    margin-top: 12px;
                    margin-left: 10px;
                    margin-right: 20px ;
                    color:$white
                }
            }

            .avatar{
                height: 40px;
                margin-right: 20px ;
            }

            .edit{
                height: 20px;
                margin-right: 20px ;
                filter: brightness(0) invert(1) !important;

                &:hover{
                    filter:  invert(1) brightness(0.1) !important;
                    transition: 0.5s;
                }
            }
        }

        .main-container{
            height: 100% !important;
            border-radius: 0px !important;
            overflow: hidden !important;
        }
    }
}